<!DOCTYPE html>
<html>
<head>
  <title>Liking</title>
  <%= stylesheet_link_tag    "liking/application", :media => "all" %>
  <%= javascript_include_tag "liking/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
